In [13]:
import os
import sys

PROJECT_ROOT = os.path.abspath(os.path.join(os.getcwd(), ".."))

if PROJECT_ROOT not in sys.path:
    sys.path.insert(0, PROJECT_ROOT)

print("PROJECT_ROOT:", PROJECT_ROOT)

PROJECT_ROOT: c:\Users\hp\Documents\credit-risk-model

In [14]:
import pandas as pd
import os

DATA_PATH = os.path.join(PROJECT_ROOT, "data", "raw", "data.csv")
df = pd.read_csv(DATA_PATH)

df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0

In [15]:
import pandas as pd
from src.feature_engineering import create_customer_features

In [16]:
customer_features = create_customer_features(df)
customer_features.head()

,CustomerId,total_amount,avg_amount,std_amount,transaction_count,last_transaction
0,CustomerId_1,-10000.0,-10000.000000,NaN,1,2018-11-21 16:49:14+00:00
1,CustomerId_10,-10000.0,-10000.000000,NaN,1,2018-11-21 16:49:09+00:00
2,CustomerId_1001,20000.0,4000.000000,6558.963333,5,2018-11-16 08:20:39+00:00
3,CustomerId_1002,4225.0,384.090909,560.498966,11,2019-01-18 10:05:00+00:00
4,CustomerId_1003,20000.0,3333.333333,6030.478146,6,2019-02-01 15:04:51+00:00

In [17]:
customer_features.describe()

       total_amount    avg_amount    std_amount  transaction_count
count  3.742000e+03  3.742000e+03  3.030000e+03        3742.000000
mean   1.717377e+05  1.571562e+04  1.680216e+04          25.564404
std    2.717305e+06  1.676991e+05  1.074311e+05          96.929602
min   -1.049000e+08 -4.250000e+05  0.000000e+00           1.000000
25%    4.077438e+03  1.000000e+03  1.533574e+03           2.000000
50%    2.000000e+04  2.583846e+03  5.389779e+03           7.000000
75%    7.996775e+04  4.877614e+03  7.549050e+03          20.000000
max    8.345124e+07  8.601821e+06  3.309916e+06        4091.000000

## Feature Engineering Summary

- Aggregated transactional data at customer level
- Created monetary, frequency, and variability features
- Reduced transaction-level noise for modeling
- These features will be used for proxy target creation and model training